<% content_for :title do %>Pidash<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Time"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hsl-bike-1" data-view="Meter" data-height="140" data-width="170" data-max="16" data-min="0" data-moreInfo="Pyörää vapaana" data-bgcolor="rgb(0,0,0)" style="background-color:#89ad44;"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="hsl-bike-2" data-view="Meter" data-height="140" data-width="170" data-max="16" data-min="0" data-moreInfo="Pyörää vapaana"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>
    
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="hsl-stop-1" data-view="Hsl"></div>
    </li>

  </ul>
</div>
